.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 3rem;
  /* height: 30px; */
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav-black {
  background-color: #111;
}

.nav-logo {
  position: fixed;
  top: -0.5rem;
  left: 0.8rem;
  width: 7rem;
  object-fit: contain;
}

.nav-avatar {
  position: fixed;
  top: 0.8rem;
  right: 0.8rem;
  width: 1.8rem;
  object-fit: contain;
}
